<!DOCTYPE html>
<html lang="en">

<head>
  <title>Stats</title>
  <%- include('../partials/head'); %>
</head>

<body>
  <script>
    const trackObjects = [
      {
        "trackData": {
          "trackId": "1WnqWQcWcuQbVzgE7ecfCY",
          "trackName": "Every Hour",
          "trackURL": "https://open.spotify.com/track/1WnqWQcWcuQbVzgE7ecfCY",
          "albumName": "JESUS IS KING",
          "albumArt": "https://i.scdn.co/image/ab67616d00001e021bb797bbfe2480650b6c2964",
          "albumURL": "https://open.spotify.com/album/0FgZKfoU2Br5sHOfvZKTI9",
          "primaryArtists": [
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x"
              },
              "href": "https://api.spotify.com/v1/artists/5K4W6rqBFWDnAN6FQUkS6x",
              "id": "5K4W6rqBFWDnAN6FQUkS6x",
              "name": "Kanye West",
              "type": "artist",
              "uri": "spotify:artist:5K4W6rqBFWDnAN6FQUkS6x"
            }
          ],
          "trackArtists": [
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x"
              },
              "href": "https://api.spotify.com/v1/artists/5K4W6rqBFWDnAN6FQUkS6x",
              "id": "5K4W6rqBFWDnAN6FQUkS6x",
              "name": "Kanye West",
              "type": "artist",
              "uri": "spotify:artist:5K4W6rqBFWDnAN6FQUkS6x"
            },
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/2c9O21YLFy4tFI9zCVhbFg"
              },
              "href": "https://api.spotify.com/v1/artists/2c9O21YLFy4tFI9zCVhbFg",
              "id": "2c9O21YLFy4tFI9zCVhbFg",
              "name": "Sunday Service Choir",
              "type": "artist",
              "uri": "spotify:artist:2c9O21YLFy4tFI9zCVhbFg"
            }
          ],
          "isExplicit": false
        },
        "features": {
          "absolute": {
            "acousticness": 0.466,
            "danceability": 0.588,
            "duration": 112.239,
            "energy": 0.793,
            "instrumentalness": 0.000647,
            "loudness": 53.769999999999996,
            "speechiness": 0.0794,
            "tempo": 76.997,
            "valence": 0.694
          },
          "relative": {}
        },
        "color": [
          32,
          57,
          205
        ]
      },
      {
        "trackData": {
          "trackId": "7yNK27ZTpHew0c55VvIJgm",
          "trackName": "Dark Fantasy",
          "trackURL": "https://open.spotify.com/track/7yNK27ZTpHew0c55VvIJgm",
          "albumName": "My Beautiful Dark Twisted Fantasy",
          "albumArt": "https://i.scdn.co/image/ab67616d00001e02d9194aa18fa4c9362b47464f",
          "albumURL": "https://open.spotify.com/album/20r762YmB5HeofjMCiPMLv",
          "primaryArtists": [
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x"
              },
              "href": "https://api.spotify.com/v1/artists/5K4W6rqBFWDnAN6FQUkS6x",
              "id": "5K4W6rqBFWDnAN6FQUkS6x",
              "name": "Kanye West",
              "type": "artist",
              "uri": "spotify:artist:5K4W6rqBFWDnAN6FQUkS6x"
            }
          ],
          "trackArtists": [
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x"
              },
              "href": "https://api.spotify.com/v1/artists/5K4W6rqBFWDnAN6FQUkS6x",
              "id": "5K4W6rqBFWDnAN6FQUkS6x",
              "name": "Kanye West",
              "type": "artist",
              "uri": "spotify:artist:5K4W6rqBFWDnAN6FQUkS6x"
            }
          ],
          "isExplicit": true
        },
        "features": {
          "absolute": {
            "acousticness": 0.274,
            "danceability": 0.599,
            "duration": 280.787,
            "energy": 0.587,
            "instrumentalness": 0,
            "loudness": 54.081,
            "speechiness": 0.0423,
            "tempo": 87.998,
            "valence": 0.373
          },
          "relative": {}
        },
        "color": [
          236,
          35,
          60
        ]
      },
      {
        "trackData": {
          "trackId": "5nIu0VwPOsjkF61zfevLKh",
          "trackName": "Hold My Liquor",
          "trackURL": "https://open.spotify.com/track/5nIu0VwPOsjkF61zfevLKh",
          "albumName": "Yeezus",
          "albumArt": "https://i.scdn.co/image/ab67616d00001e021dacfbc31cc873d132958af9",
          "albumURL": "https://open.spotify.com/album/7D2NdGvBHIavgLhmcwhluK",
          "primaryArtists": [
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x"
              },
              "href": "https://api.spotify.com/v1/artists/5K4W6rqBFWDnAN6FQUkS6x",
              "id": "5K4W6rqBFWDnAN6FQUkS6x",
              "name": "Kanye West",
              "type": "artist",
              "uri": "spotify:artist:5K4W6rqBFWDnAN6FQUkS6x"
            }
          ],
          "trackArtists": [
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x"
              },
              "href": "https://api.spotify.com/v1/artists/5K4W6rqBFWDnAN6FQUkS6x",
              "id": "5K4W6rqBFWDnAN6FQUkS6x",
              "name": "Kanye West",
              "type": "artist",
              "uri": "spotify:artist:5K4W6rqBFWDnAN6FQUkS6x"
            }
          ],
          "isExplicit": true
        },
        "features": {
          "absolute": {
            "acousticness": 0.0194,
            "danceability": 0.497,
            "duration": 326.947,
            "energy": 0.322,
            "instrumentalness": 0.00000772,
            "loudness": 49.641999999999996,
            "speechiness": 0.0333,
            "tempo": 106.976,
            "valence": 0.04
          },
          "relative": {}
        },
        "color": [
          252,
          11,
          4
        ]
      },
      {
        "trackData": {
          "trackId": "722tgOgdIbNe3BEyLnejw4",
          "trackName": "Black Skinhead",
          "trackURL": "https://open.spotify.com/track/722tgOgdIbNe3BEyLnejw4",
          "albumName": "Yeezus",
          "albumArt": "https://i.scdn.co/image/ab67616d00001e021dacfbc31cc873d132958af9",
          "albumURL": "https://open.spotify.com/album/7D2NdGvBHIavgLhmcwhluK",
          "primaryArtists": [
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x"
              },
              "href": "https://api.spotify.com/v1/artists/5K4W6rqBFWDnAN6FQUkS6x",
              "id": "5K4W6rqBFWDnAN6FQUkS6x",
              "name": "Kanye West",
              "type": "artist",
              "uri": "spotify:artist:5K4W6rqBFWDnAN6FQUkS6x"
            }
          ],
          "trackArtists": [
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x"
              },
              "href": "https://api.spotify.com/v1/artists/5K4W6rqBFWDnAN6FQUkS6x",
              "id": "5K4W6rqBFWDnAN6FQUkS6x",
              "name": "Kanye West",
              "type": "artist",
              "uri": "spotify:artist:5K4W6rqBFWDnAN6FQUkS6x"
            }
          ],
          "isExplicit": true
        },
        "features": {
          "absolute": {
            "acousticness": 0.0011,
            "danceability": 0.766,
            "duration": 188.013,
            "energy": 0.809,
            "instrumentalness": 0,
            "loudness": 53.877,
            "speechiness": 0.279,
            "tempo": 130.127,
            "valence": 0.325
          },
          "relative": {}
        },
        "color": [
          252,
          11,
          4
        ]
      }
    ]
    console.log(trackObjects);
  </script>
  <script src="/scripts/stats/dataManager.js" type="application/javascript"></script>


  <%- include('../partials/nav'); %>
    <div class="container">

      <div class="album-row">
        <div id="album-cover-row" class="row justify-content-center"></div>

        <div class="row">
          <div class="col-lg-11 col-12">
            <div id="canvas-container" style="width: 100%; margin-bottom: 2em">
              <canvas id="track-chart" width="100" height="100"></canvas>
            </div>
          </div>
        </div>

        <%- include('../partials/chartButtons'); %>
      </div>

      <div style="width: 100%; margin-bottom: 2em"></div>

      <%- include('../partials/highAvgLow'); %>

        <div style="width: 100%; margin-bottom: 2em"></div>

        <div class="container">
          <div class="row g-4">
            <%- include('../partials/fullTrackObjectData'); %>
          </div>
        </div>


        <div style="width: 100%; margin-bottom: 2em"></div>

        <div class="container" style="width: 100%; margin-bottom: 2em">
          <%- include('../partials/statsLegend'); %>
        </div>
    </div>

    <script src="/scripts/stats/chartManager.js" type="application/javascript"></script>
</body>

</html>