<!DOCTYPE html>
<html lang="en">

<head>
  <title>Stats</title>
  <%- include('../partials/head'); %>
</head>

<body>
  <script>
    const trackObjects = <%- JSON.stringify(trackObjectArray) %>
      console.log(trackObjects);
  </script>
  <script src="/scripts/dataManager.js" type="application/javascript"></script>

  <%- include('../partials/nav'); %>
    <div class="container">

      <div class="album-row">
        <div id="album-cover-row" class="row justify-content-center"></div>

        <div class="row">
          <div class="col-10 mx-auto">
            <div id="canvas-container" style="width: 100%; padding: 0.5em">
              <canvas id="track-chart" width="100" height="100"></canvas>
            </div>
          </div>
        </div>

        <%- include('../partials/chartButtons'); %>
      </div>

      <div style="width: 100%; margin-bottom: 2em"></div>

      <%- include('../partials/highAvgLow'); %>

        <div style="width: 100%; margin-bottom: 2em"></div>

        <div class="container">
          <div class="row g-4">
            <%- include('../partials/fullTrackObjectData'); %>
          </div>
        </div>


        <div style="width: 100%; margin-bottom: 2em"></div>

        <div class="container" style="width: 100%; margin-bottom: 2em">
          <%- include('../partials/statsLegend'); %>
        </div>
    </div>

    <script src="/scripts/chartManager.js" type="application/javascript"></script>
</body>

</html>