<!DOCTYPE html>
<html lang="en">

<head>
  <title>Stats</title>
  <%- include('../partials/head'); %>
</head>

<body>
  <script>
    const trackObjects = [
      {
        "trackData": {
          "trackId": "3DK6m7It6Pw857FcQftMds",
          "trackName": "Runaway",
          "trackURL": "https://open.spotify.com/track/3DK6m7It6Pw857FcQftMds",
          "albumName": "My Beautiful Dark Twisted Fantasy",
          "albumArt": "https://i.scdn.co/image/ab67616d00001e02d9194aa18fa4c9362b47464f",
          "albumURL": "https://open.spotify.com/album/20r762YmB5HeofjMCiPMLv",
          "primaryArtists": [
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x"
              },
              "href": "https://api.spotify.com/v1/artists/5K4W6rqBFWDnAN6FQUkS6x",
              "id": "5K4W6rqBFWDnAN6FQUkS6x",
              "name": "Kanye West",
              "type": "artist",
              "uri": "spotify:artist:5K4W6rqBFWDnAN6FQUkS6x"
            }
          ],
          "trackArtists": [
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x"
              },
              "href": "https://api.spotify.com/v1/artists/5K4W6rqBFWDnAN6FQUkS6x",
              "id": "5K4W6rqBFWDnAN6FQUkS6x",
              "name": "Kanye West",
              "type": "artist",
              "uri": "spotify:artist:5K4W6rqBFWDnAN6FQUkS6x"
            },
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/0ONHkAv9pCAFxb0zJwDNTy"
              },
              "href": "https://api.spotify.com/v1/artists/0ONHkAv9pCAFxb0zJwDNTy",
              "id": "0ONHkAv9pCAFxb0zJwDNTy",
              "name": "Pusha T",
              "type": "artist",
              "uri": "spotify:artist:0ONHkAv9pCAFxb0zJwDNTy"
            }
          ],
          "isExplicit": true
        },
        "features": {
          "absolute": {
            "acousticness": 0.219,
            "danceability": 0.374,
            "duration": 547.733,
            "energy": 0.568,
            "instrumentalness": 0.00219,
            "loudness": 56.175,
            "speechiness": 0.109,
            "tempo": 84.733,
            "valence": 0.111
          },
          "relative": {
            "acousticness": 1,
            "danceability": 0.46867167919799496,
            "duration": 1,
            "energy": 0.773841961852861,
            "instrumentalness": 1,
            "loudness": 1,
            "speechiness": 0.6488095238095237,
            "tempo": 0.5814701966758623,
            "valence": 0.22745901639344263
          }
        },
        "color": [
          236,
          35,
          60
        ]
      },
      {
        "trackData": {
          "trackId": "6ucmgsair6pvRYfwgvI6e0",
          "trackName": "SPIRIT - From Disney's \"The Lion King\"",
          "trackURL": "https://open.spotify.com/track/6ucmgsair6pvRYfwgvI6e0",
          "albumName": "The Lion King: The Gift",
          "albumArt": "https://i.scdn.co/image/ab67616d00001e024ccc03169b086af698178a99",
          "albumURL": "https://open.spotify.com/album/552zi1M53PQAX5OH4FIdTx",
          "primaryArtists": [
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/6vWDO969PvNqNYHIOW5v0m"
              },
              "href": "https://api.spotify.com/v1/artists/6vWDO969PvNqNYHIOW5v0m",
              "id": "6vWDO969PvNqNYHIOW5v0m",
              "name": "Beyoncé",
              "type": "artist",
              "uri": "spotify:artist:6vWDO969PvNqNYHIOW5v0m"
            }
          ],
          "trackArtists": [
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/6vWDO969PvNqNYHIOW5v0m"
              },
              "href": "https://api.spotify.com/v1/artists/6vWDO969PvNqNYHIOW5v0m",
              "id": "6vWDO969PvNqNYHIOW5v0m",
              "name": "Beyoncé",
              "type": "artist",
              "uri": "spotify:artist:6vWDO969PvNqNYHIOW5v0m"
            }
          ],
          "isExplicit": false
        },
        "features": {
          "absolute": {
            "acousticness": 0.00956,
            "danceability": 0.238,
            "duration": 277.03,
            "energy": 0.435,
            "instrumentalness": 0,
            "loudness": 51.903999999999996,
            "speechiness": 0.0497,
            "tempo": 78.797,
            "valence": 0.0447
          },
          "relative": {
            "acousticness": 0.04365296803652968,
            "danceability": 0.2982456140350877,
            "duration": 0.5057756242548833,
            "energy": 0.5926430517711172,
            "instrumentalness": 0,
            "loudness": 0.9239697374276813,
            "speechiness": 0.29583333333333334,
            "tempo": 0.5407350983379311,
            "valence": 0.0915983606557377
          }
        },
        "color": [
          228,
          172,
          44
        ]
      },
      {
        "trackData": {
          "trackId": "6f44p3Kc4ayD9VtbC9Clkr",
          "trackName": "Come On, Let's Go (with Nigo)",
          "trackURL": "https://open.spotify.com/track/6f44p3Kc4ayD9VtbC9Clkr",
          "albumName": "I Know NIGO!",
          "albumArt": "https://i.scdn.co/image/ab67616d00001e023c5fdcf8a1ea2d226e277460",
          "albumURL": "https://open.spotify.com/album/75T8WnF5n7fgKJ0EC7WRPS",
          "primaryArtists": [
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/2rAnv6brcXaglLZBB4XXEn"
              },
              "href": "https://api.spotify.com/v1/artists/2rAnv6brcXaglLZBB4XXEn",
              "id": "2rAnv6brcXaglLZBB4XXEn",
              "name": "Nigo",
              "type": "artist",
              "uri": "spotify:artist:2rAnv6brcXaglLZBB4XXEn"
            }
          ],
          "trackArtists": [
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/4V8LLVI7PbaPR0K2TGSxFF"
              },
              "href": "https://api.spotify.com/v1/artists/4V8LLVI7PbaPR0K2TGSxFF",
              "id": "4V8LLVI7PbaPR0K2TGSxFF",
              "name": "Tyler, The Creator",
              "type": "artist",
              "uri": "spotify:artist:4V8LLVI7PbaPR0K2TGSxFF"
            },
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/2rAnv6brcXaglLZBB4XXEn"
              },
              "href": "https://api.spotify.com/v1/artists/2rAnv6brcXaglLZBB4XXEn",
              "id": "2rAnv6brcXaglLZBB4XXEn",
              "name": "Nigo",
              "type": "artist",
              "uri": "spotify:artist:2rAnv6brcXaglLZBB4XXEn"
            }
          ],
          "isExplicit": true
        },
        "features": {
          "absolute": {
            "acousticness": 0.136,
            "danceability": 0.732,
            "duration": 199.5,
            "energy": 0.734,
            "instrumentalness": 0.000901,
            "loudness": 52.032,
            "speechiness": 0.0974,
            "tempo": 145.722,
            "valence": 0.488
          },
          "relative": {
            "acousticness": 0.6210045662100457,
            "danceability": 0.9172932330827067,
            "duration": 0.36422855661426284,
            "energy": 1,
            "instrumentalness": 0.41141552511415524,
            "loudness": 0.9262483311081442,
            "speechiness": 0.5797619047619047,
            "tempo": 1,
            "valence": 1
          }
        },
        "color": [
          243,
          204,
          30
        ]
      },
      {
        "trackData": {
          "trackId": "0WSEq9Ko4kFPt8yo3ICd6T",
          "trackName": "Praise God",
          "trackURL": "https://open.spotify.com/track/0WSEq9Ko4kFPt8yo3ICd6T",
          "albumName": "Donda",
          "albumArt": "https://i.scdn.co/image/ab67616d00001e02cad190f1a73c024e5a40dddd",
          "albumURL": "https://open.spotify.com/album/5CnpZV3q5BcESefcB3WJmz",
          "primaryArtists": [
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x"
              },
              "href": "https://api.spotify.com/v1/artists/5K4W6rqBFWDnAN6FQUkS6x",
              "id": "5K4W6rqBFWDnAN6FQUkS6x",
              "name": "Kanye West",
              "type": "artist",
              "uri": "spotify:artist:5K4W6rqBFWDnAN6FQUkS6x"
            }
          ],
          "trackArtists": [
            {
              "external_urls": {
                "spotify": "https://open.spotify.com/artist/5K4W6rqBFWDnAN6FQUkS6x"
              },
              "href": "https://api.spotify.com/v1/artists/5K4W6rqBFWDnAN6FQUkS6x",
              "id": "5K4W6rqBFWDnAN6FQUkS6x",
              "name": "Kanye West",
              "type": "artist",
              "uri": "spotify:artist:5K4W6rqBFWDnAN6FQUkS6x"
            }
          ],
          "isExplicit": false
        },
        "features": {
          "absolute": {
            "acousticness": 0.00904,
            "danceability": 0.798,
            "duration": 226.653,
            "energy": 0.545,
            "instrumentalness": 0.0000948,
            "loudness": 53.534,
            "speechiness": 0.168,
            "tempo": 118.029,
            "valence": 0.212
          },
          "relative": {
            "acousticness": 0.041278538812785384,
            "danceability": 1,
            "duration": 0.4138019801618672,
            "energy": 0.7425068119891008,
            "instrumentalness": 0.04328767123287671,
            "loudness": 0.9529862038273254,
            "speechiness": 1,
            "tempo": 0.8099600609379503,
            "valence": 0.4344262295081967
          }
        },
        "color": [
          127.5,
          127.5,
          127.5
        ]
      }
    ]
    console.log(trackObjects);
  </script>
  <script src="/scripts/dataManager.js" type="application/javascript"></script>


  <%- include('../partials/nav'); %>
    <div class="container">

      <div class="album-row">
        <div id="album-cover-row" class="row justify-content-center"></div>

        <div class="row">
          <div class="col-lg-11 col-12">
            <div id="canvas-container" style="width: 100%; margin-bottom: 2em">
              <canvas id="track-chart" width="100" height="100"></canvas>
            </div>
          </div>
        </div>

        <%- include('../partials/chartButtons'); %>
      </div>

      <div style="width: 100%; margin-bottom: 2em"></div>

      <%- include('../partials/highAvgLow'); %>

        <div style="width: 100%; margin-bottom: 2em"></div>

        <div class="container">
          <div class="row g-4">
          </div>
        </div>


        <div style="width: 100%; margin-bottom: 2em"></div>

        <div class="container" style="width: 100%; margin-bottom: 2em">
          <%- include('../partials/statsLegend'); %>
        </div>
    </div>

    <script src="/scripts/chartManager.js" type="application/javascript"></script>
</body>

</html>