<!DOCTYPE html>
<html lang="en">

<head>
  <title>Stats</title>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/grabTrackObjects') %>
    <script src="/scripts/dataManager.js" type="application/javascript"></script>

    <%- include('../partials/nav'); %>
      <div class="container">
        <div class="row">
          <div class="chart-row">
            <div id="album-cover-row" class="row justify-content-center"></div>

            <div class="col-12 col-lg-10 mx-auto">
              <div id="canvas-container" style="width: 100%; padding: 0.5em">
                <canvas id="track-chart" width="100" height="100"></canvas>
              </div>
            </div>
          </div>
        </div>

        <%- include('../partials/chartButtons'); %>
          <%- include('../partials/highAvgLow'); %>
            <%- include('../partials/statsLegend'); %>

              <div class="row g-4" style="margin-top: 0.25em; margin-bottom: 2em;">
                <%- include('../partials/fullTrackObjectData'); %>
              </div>
      </div>

      <script src="/scripts/chartManager.js" type="application/javascript"></script>
      <script src="/scripts/highAvgLow.js" type="application/javascript"></script>
</body>

</html>