<!DOCTYPE html>
<html lang="en">

<head>
  <title>Stats</title>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/grabTrackObjects') %>
    <script src="/scripts/dataManager.js" type="application/javascript"></script>

    <%- include('../partials/nav'); %>
      <div class="container">
        <div class="row">
          <div class="chart-row">
            <div id="album-cover-row" class="row justify-content-center"></div>

            <div class="col-12 col-lg-10 mx-auto">
              <div id="canvas-container" style="width: 100%; padding: 0.5em">
                <canvas id="track-chart" width="100" height="100"></canvas>
              </div>
            </div>
          </div>
        </div>

        <%- include('../partials/chartButtons'); %>
          <%- include('../partials/highAvgLow'); %>
            <%- include('../partials/statsLegend'); %>
              <div class="row g-4" style="margin-top: 0.25em; margin-bottom: 2em;">
                <h2>
                  Full Data:
                </h2>
                <%- include('../partials/fullTrackObjectData'); %>
              </div>
      </div>

      <script src="/scripts/chartManager.js" type="application/javascript"></script>
      <script src="/scripts/highAvgLow.js" type="application/javascript"></script>

      <script>
        const chartManager = new ChartManager(trackObjects);

        // If this is registered after chart creation, the legends don't appear
        registerHTMLElementLegendPlugin();

        chartManager.initializeChart();
        const dataset = chartManager.generateDataset();
        chartManager.setDataset(dataset);

        /**
         * attaching onClick handlers to color and
         * chart type buttons
         */
        $(".color-button").click(function () {
          switch (this.id) {
            case "art-color-button":
              chartManager.updateChartColors("art");
              break;
            case "unique-color-button":
              chartManager.updateChartColors("unique");
              break;
            case "green-color-button":
              chartManager.updateChartColors("green");
              break;
          }
        });

        $(".type-button").click(function () {
          switch (this.id) {
            case "radar-type":
              chartManager.updateChartMode("radar");
              window.scrollTo(0, 0);
              break;
            case "bar-type":
              chartManager.updateChartMode("bar");
              window.scrollTo(0, 0);
              break;
          }
        });
      </script>
</body>

</html>