<!DOCTYPE html>
<html lang="en">

<head>
  <title>Stats</title>
  <%- include('../partials/head'); %>
</head>

<body>
  <script>
    const trackObjects = <%- JSON.stringify(trackObjectArray) %>
      console.log(trackObjectArray);
  </script>

  <%- include('../partials/nav'); %>
    <div class="container">
      <div class="album-row">
        <div id="album-cover-row" class="row justify-content-center"></div>
      </div>
    </div>

    <div id="canvas-container" style="width: 100%; margin-bottom: 2em">
      <canvas id="track_chart" width="100" height="100"></canvas>

      <%- include('../partials/chartButtons'); %>
    </div>

    <div style="width: 100%; margin-bottom: 2em"></div>

    <%- include('../partials/highAvgLow'); %>

      <div style="width: 100%; margin-bottom: 2em"></div>

      <div class="container">
        <div class="row g-4">
          <%- include('../partials/fullTrackObjectData'); %>
        </div>
      </div>


      <div style="width: 100%; margin-bottom: 2em"></div>

      <div class="container">
        <%- include('../partials/statsLegend'); %>
      </div>

      <div style="width: 100%; margin-bottom: 2em"></div>
      <script src="/scripts/chartManager.js"></script>
</body>

</html>